# Offline to Online (O2O) Prediction of Coupon Redemption 

(Greeshma & Shulai)

Problem Link: https://tianchi.aliyun.com/competition/entrance/231593/information
- Goal: predict the probability of customers redeeming a coupon within 15 days of receiving it.
- Training Set Date Range: January 1, 2016 to June 30, 2016

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read Data
df_train_online = pd.read_csv('Data\ccf_online_stage1_train.csv')
df_train_offline = pd.read_csv('Data\ccf_offline_stage1_train.csv')
df_test_offline = pd.read_csv('Data\ccf_offline_stage1_test_revised.csv')

## Data Cleaning & Analysis

### Observations: 
1. Testing set is for offline purchases only, but training set for online purchases is way larger than training set for offline purchases.
2. df_train_offline and df_train_online has different columns 
    - df_train_offline: Distance
    - df_train_online: Action 
3. Data is not in correct format:
    - Distance
    - coupon id
    - discount rate
    - Date_received & Date

In [10]:
# Check Data Size
print('df_train_offline size: '+ str(len(df_train_offline)))
print('df_train_online size : ' +str(len(df_train_online)))
print('df_test_offline size: '+str(len(df_test_offline)))

df_train_offline size: 1754884
df_train_online size : 11429826
df_test_offline size: 113640

In [5]:
df_train_offline.head()

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN

In [14]:
df_train_offline.dtypes

User_id            int64
Merchant_id        int64
Coupon_id        float64
Discount_rate     object
Distance         float64
Date_received    float64
Date             float64
dtype: object

In [31]:
df_train_offline.Distance.unique()

array([ 0.,  1., nan,  2., 10.,  4.,  7.,  9.,  3.,  5.,  6.,  8.])

In [4]:
df_train_online.head()

,User_id,Merchant_id,Action,Coupon_id,Discount_rate,Date_received,Date
0,13740231,18907,2,100017492,500:50,20160513.0,NaN
1,13740231,34805,1,NaN,NaN,NaN,20160321.0
2,14336199,18907,0,NaN,NaN,NaN,20160618.0
3,14336199,18907,0,NaN,NaN,NaN,20160618.0
4,14336199,18907,0,NaN,NaN,NaN,20160618.0

In [13]:
df_train_online.dtypes

User_id            int64
Merchant_id        int64
Coupon_id        float64
Discount_rate     object
Distance         float64
Date_received    float64
Date             float64
dtype: object

In [28]:
df_train_online['Coupon_id'][df_train_online['Coupon_id']=='fixed'].count()

131546

In [29]:
df_train_online['Discount_rate'][df_train_online['Discount_rate']=='fixed'].count()

131546

In [12]:
df_test_offline.dtypes

User_id            int64
Merchant_id        int64
Coupon_id          int64
Discount_rate     object
Distance         float64
Date_received      int64
dtype: object

In [6]:
df_train_offline.Discount_rate.unique()

array([nan, '150:20', '20:1', '200:20', '30:5', '50:10', '10:5', '100:10',
       '200:30', '20:5', '30:10', '50:5', '150:10', '100:30', '200:50',
       '100:50', '300:30', '50:20', '0.9', '10:1', '30:1', '0.95',
       '100:5', '5:1', '100:20', '0.8', '50:1', '200:10', '300:20',
       '100:1', '150:30', '300:50', '20:10', '0.85', '0.6', '150:50',
       '0.75', '0.5', '200:5', '0.7', '30:20', '300:10', '0.2', '50:30',
       '200:100', '150:5'], dtype=object)

## Next Steps:
1. EDA
2. Feature Engineering
3. Modeling

In [ ]:
#split date to further features and take the difference
#how many have coupon_id and have actually used it
#is there correlation between purchasing(with coupon) and the distnace
#how mnay have coupons and not used it?
#how many have coupons and used it?
#how many have coupons and used it within 15 days and 30 days?
# 1- buying without the coupon?

In [22]:
# print("duplicates in online:", df_train_online.duplicated().sum())
# print("difference", df_train_online - df_train_online.duplicated().sum())

In [26]:
a = set(df_train_online['Merchant_id'].unique().flatten())
b = set(df_train_offline['Merchant_id'].unique().flatten())

In [34]:
c = a.intersection(b)

In [35]:
len(c)

0

In [36]:
max(df_train_online['Merchant_id'])

60000

In [37]:
max(df_train_offline['Merchant_id'])

8856